body{
    background: #006BA6;
}

.container{
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.button {
    text-align: center;
    padding-top: 2em;
}

#randBttn{
    background-color: #FFBC42;
    border-width: 0;
    border-radius: 50px;
    color: #8F2D56;
    transition: 1s;
}

#randBttn:hover {
    background-color: #8F2D56;
    color: #FFBC42;
}

h1{
    text-align: center;
    font-size: 50px;
    color: #FFBC42;
    margin-top: 4.5em;
}

#searchBar{
    padding-top: 4em;
}

#searchBttn{
    width: 75px;
    height: 30px;
    background-color: #FFBC42;
    color: #8F2D56;
    border-radius: 50px;
    border-width: 0;
    transition: 1s;
}

#searchBttn:hover {
    background-color: #8F2D56;
    color: #FFBC42;
}

#searchField{
    width: 23em;
    border-radius: 50px;
    border-width: 0;
    margin-right: 1rem;
}

h2{
    text-align: center;
    padding-top: 1em;
    color: #FFBC42;
}